@model Guid

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="accountName"></h2>

<table id="transactions">
</table>

@section Scripts
{
  <script type="text/javascript" language="javascript">
    $(document).ready(function () {
      var accountId = "@Model";
      $.getJSON("/api/Accounts/" + accountId,
        function(data) {
        }).done(function(data) {
        $("#accountName").text(data.name);
      });
      $("#transactions").DataTable({
        "ajax": {
          "url": "/api/Transactions/?accountId=" + accountId,
          "dataSrc": ""
        },
        "columns": [
          { "data": "date" },
          { "data": "vendor" },
          { "data": "description" },
          { "data": "debit" },
          { "data": "credit" }
        ]
      });
    });
  </script>
}
