body {
  font-size: 13px;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {

}

a.delete-icon {
    cursor: pointer;
}

a.delete-icon > .glyphicon {
    color: #990000;
    font-size:15px;
}