body {
  font-size: 13px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

a {
  color: #337ab7;
}

h1 {
  font-size: 36px;
  font-weight: 500;
}

label {
  font-weight: 700;
  font-size: 14px;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {

}
