@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
.navbar-collapse {
    max-height:none !important;
}
}

a.delete-icon {
    cursor: pointer;
}

a.delete-icon > .glyphicon {
    color: #990000;
    font-size:15px;
}

.add-icon {
    vertical-align: middle;
    color: green;
    margin-left: 15px;
    font-size: 25px;
    cursor: pointer;
}

.add-icon a {
    color: green;
}