.line-items input {
    width: 65px;
    text-align: right;
}

.line-items td, th {
    padding: 2px;
}

.line-items td:nth-child(1) > input {
  width: 250px;
  text-align: left;
}

.line-items td:nth-child(4), th:nth-child(4) {
    text-align: right;
    width:100px;
}

.line-items th {
    text-align: center;
}